<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/cadastrar.css">

  <title>Document</title>
</head>
<body>

  <div class="formulario">
  <form action="/cadastra" method="post">
    <div class="form"><label for="user">Nome</label></div>
    <input type="text" name="nome" id="nome" style="width: 50%; border-radius: 10px; margin-left: 25%; height: 20px;">
    <div class="form"><label for="user">Usuario</label></div>
    <input type="text" name="usuario" id="usuario" style="width: 50%; border-radius: 10px; margin-left: 25%; height: 20px;">
    <div class="form"><label for="password">Senha</label></div>
    <input type="text" name="senha" id="senha" style="width: 50%; border-radius: 10px; margin-left: 25%; height: 20px;">

    <input class="input" type="submit" value="cadastrar">
  </form>
</body>
</html>